
# TODO file
TODO.txt

# ignore .vscode dir
.vscode/

# ignore vs dir
.vs/

# ignore bin e build dirs
bin/
build/

# ignore build script
build.sh

# ignore prefabs for now
prefabs/

# imgui settings
imgui.ini
