[submodule "libs/assimp"]
	path = libs/assimp
	url = https://github.com/assimp/assimp
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw
[submodule "libs/imgui/imgui"]
	path = libs/imgui/imgui
	url = https://github.com/ocornut/imgui
